.parse {
    .parse-col {
        display: inline-block;
        margin-right: 1%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 32px;
        cursor: pointer;
    }
    .parse-encounter-name {
        @extend .parse-col;
        width: 25%;
        .encounter-icon {
            max-width: 32px;
            max-height: 32px;
            border: 1px solid $border-color;
            vertical-align: -11px;
            margin-right: 10px;
        }
    }
    .parse-class {
        @extend .parse-col;
        width: 5%;
        text-align: center;
        .class-icon {
            vertical-align: -4px;
            max-width: 100%;
            max-height: 100%;
        }
    }
    .parse-rank {
        @extend .parse-col;
        width: 20%;
        text-align: center;
        .parse-rank-percent {
            font-weight: bold;
        }
        .parse-rank-value {
            font-size: 10px;
            vertical-align: 2px;
            margin-left: 4px;
        }
    }
    .parse-damage {
        @extend .parse-col;
        width: 15%;
        text-align: center;
    }   
    .parse-duration {
        @extend .parse-col;
        width: 10%;
        text-align: center;
    }
    .parse-date {
        @extend .parse-col;
        width: 15%;
        text-align: center;
    }
    &.head {
        border-bottom: 1px solid $fg-color;
        .parse-col {
            font-weight: bold;
        }
    }
}