@import "../css/normalize.css";
//@import "../css/skeleton.css";

@import "./colors";
@import "./columns";
@import "./panel";
@import "./form";
@import "./character";
@import "./parses";
@import "./history";

html, body {
    font-family: sans-serif;
    background: $bg-color;
    color: $fg-color;
}

a, a:visited, a:hover, a:active, a:focus {
    color: $fg-color;
    text-decoration: underline;
}

#head {
    padding: 3px 10px;
    margin-bottom: 15px;
    background-color: $panel-bg-color;
    border-bottom: 1px solid $border-color;

    a.title {
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
    }
}

#app {
    margin: 10px;
}