@import "../css/normalize.css";
@import "./colors";
@import "./columns";
@import "./panel";
@import "./head";
@import "./form";
@import "./character";
@import "./parses";
@import "./history";

html, body {
    font-family: sans-serif;
    background: $bg-color;
    color: $fg-color;
}

a, a:visited, a:hover, a:active, a:focus {
    color: $fg-color;
    text-decoration: underline;
}

#app {
    margin: 10px;
}